# osx noise
.DS_Store
profile

# xcode noise
build/
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

# cocoapods (keep libraries since the pod install doesn't configure what I need)
Pods/build/*
Pods/Headers/*
Pods/Documentation/*